.board {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 8px;
  position: relative;
}
.board.completed {
  outline: 2px solid #e2e1e4;
}
.board.completed .square {
  outline: none;
}
.board.completed .cell {
  opacity: 0.8;
}

.square {
  outline: 2px solid #9382ff;
  background-color: #9382ff9b;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 1px;
}
.square.full {
  outline: 2px solid #e2e1e4;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.4rem;
  height: 3.4rem;
  background-color: #030014;
  user-select: none;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
}
.cell:hover {
  background-color: #2c115da4;
}
.cell.wa {
  background-color: #871910;
}
.cell:not(.wa).same {
  background-color: #4631d1;
}
.cell.initial {
  opacity: 0.8;
}

.cellNumber {
  font-size: 2.8rem;
  font-family: 'Courier Prime', monospace;
}

.notes {
  padding: 3px;
  padding-bottom: 1px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.7;
  visibility: hidden;
}

.noteNumber {
  font-size: 0.85rem;
  font-family: 'Courier Prime', monospace;
  text-align: center;
}

.noted {
  visibility: visible;
}

.blur {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0300142f;
  backdrop-filter: blur(15px);
  outline: 2px solid #9382ff;
}
